<h1>Log In Below:</h1>
<form class="" action="/sessions" method="post">
  Email: <input type="text" name="email" value="">
  <br>
  Password: <input type="password" name="password" value=""><br>

  <input type="submit" name="Log In" value='Log In' id='Log In'>
</form>
